---
layout: splash-no-container
author_profile: false
header:
  overlay_image: assets/images/hands-charity.jpg
  overlay_filter: 0.5
  caption: "Photo credit: Tim Marshall"
  cta_label: " I need help "
  cta_url: '#'
  cta_label_2: "I want to help"
  cta_url_2: '/get-involved'
feature_row:
  - image_path: /assets/images/donatedFood.jpg
    alt: "Donate food"
    title: "Donate food"
    excerpt: "We collect food that has been donated by various supermarkets, restaurants and other establishments"
    url: "https://www.paypal.me/spinmcr/"
    btn_class: "btn--primary"
    btn_label: "Donate"
  - image_path: /assets/images/streetKitchen.jpg
    alt: "Deliver hot meals"
    title: "Deliver hot meals"
    excerpt: "With the help of our volunteers, we deliver hot meals to those living in the cold Manchester streets"
    url: "/get-involved"
    btn_class: "btn--primary"
    btn_label: "Volunteer"
  - image_path: /assets/images/shelter.jpg
    alt: "Providing shelter"
    title: "Provide shelter"
    excerpt: "We provide shelter for rough-sleepers and support them on their journey back into society"
    url: "https://www.paypal.me/spinmcr/"
    btn_class: "btn--primary"
    btn_label: "Donate"
---

<div class="intro-wrapper">
  <h2>We are SPIN</h2>
  <p>We are a charitable organisation based in Manchester, tackling the ongoing issue of homelessness and poverty. Here you can find support if you're experiencing homelessness or poverty, or you can volunteer and support people in need.</p>
  <p>Our mission is to help and support vulnerable and socially-excluded people living in poverty and rough-sleeping in the streets of Manchester</p>
</div>

<div class="intro-wrapper">
	<h2>This is how YOU can help</h2>
</div>
<div class="remove__border">
	{% include feature_row id="intro" type="center" %}
	{% include feature_row %}
</div>

<div class="intro-wrapper">
  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
  {% for post in paginator.posts %}
    {% include archive-single.html %}
  {% endfor %}
</div>